# Custom
/config.json
.vscode/
.idea/
.node-version

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
package-lock.json
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# generate output
.nuxt
dist
